In [1]:
my_int = 87
my_float = 8.7
my_complex = 8 + 7j
my_bool = True
my_str = "Introduction to Python Data Science"

In [2]:
type(87)
type(8.7)
type(8 + 7j)
type(True)
type(False)
type("Introduction to Python Data Science")

str

In [129]:
#變數 = input("提⽰⽂字")
#輸出 = print(value [, ... , sep = , end= \n ] )
print ("開始輸出")
print (1, 2, 3)
print (1, 2, 3, sep = " ", end = " ")
print(4, 5, 6, sep="|", end="\n")
#value： 輸出的資料，輸出內容可⽤逗號分隔
#sep：分隔符號，預設為空格 
#end：結尾符號，預設為換⾏。如果省略end不寫，則執⾏預設換⾏，若不想換⾏可將end設定為空字串

開始輸出
1 2 3
1 2 3 4|5|6

In [130]:
#Print函數 ⽀援格式化輸出，常⾒有⼆種： ％格式化輸出 與 format函數輸出
# %s ：字串格式化輸出
# d ：整數格式化輸出
# %f ：浮點數格式化輸出
# %e ：指數格式化輸出
#⽤⼤括號表⽰， {} 內則為format的引數或名稱
score = 66
print("⼤明的數學成績：%d" % score)
print("%5s的數學成績：%5.2f" %("Jenny", 95))
print("%5s的數學成績：%5.2f" %("Andy", 80.2))
print("{0}今年{1}歲。" .format("王⼩明" , 18))
print("{name}今年{age}歲。" .format(name = "王⼩明" , age = 18))
name = input("請輸入姓名")
chinese_grade = input("請輸入國⽂成績")
english_grade = input("請輸入英⽂成績")
print("{0:8}{1:>5}{2:>5}" .format("姓名","國⽂","英⽂"))
print("{0:<10}{1:>6}{2:>6}" .format(name,chinese_grade,english_grade))

⼤明的數學成績：66
Jenny的數學成績：95.00
 Andy的數學成績：80.20
王⼩明今年18歲。
王⼩明今年18歲。
請輸入姓名陳昱均
請輸入國⽂成績50
請輸入英⽂成績60
姓名         國⽂   英⽂
陳昱均           50    60

In [131]:
# ** 次⽅
# % 回傳餘數
8 + 7
8 - 7
8 * 7
8 / 7
8 ** 2
8 % 7

1

In [132]:
#布林值（True 以及 False）在與整數作加減運算的時候就會⾃動地被轉換為 1 與 0
8 / 7.0
8 + (8 + 7j)
"---"
type(8 / 7.0)
type(8 + (8 + 7j))
type("---")

str

In [133]:
#int()函數 ：強制轉換為整數資料型態
x = "5"
num = 5 + int(x)
print(num)

10

In [139]:
#float()函數 ：強制轉換為浮點數資料型態
x = "5.3"
num = 5 + float(x)
print(num)

10.3

In [163]:
#str()函數 ：強制轉換為字串資料型態
x = "5.3"
num = 5 + float(x)
print ("輸出的數值是" + str(num))

TypeError: 'str' object is not callable

In [159]:
8 == 7
8 != 7
8 > 7
8 < 7
8 > 7

True

In [160]:
True and True
True and False
False & True
False & False
print("---")
True or True
True or False
False | True
False | False
print("---")
print (not True)
print (not False)

---
---
False
True

In [168]:
#布林值與算數運算
8 + True
8 - False
8 * False
8 / True

8.0

In [169]:
#True跟1、1.0或1+0j是相等的；⽽False跟0、0.0或0+0j是相等的
True == 1
True == 1.0
True == 1 + 0j
print("---")
False == 0
False == 0.0
False == 0 + 0j

---

True

In [171]:
#字串是由⼀連串的字元所組成，我們可以使⽤單引號（'）或雙引號（"）來建立⽂字（str）
#⽤來包含字串的雙引號與單引號可以交替使⽤，並搭配斜線（\）的使⽤進⾏跳脫
'I am loving it!'
'I\'m loving it!'
'I don\'t think you\'ll ever be just "anybody".'
"I don't think you'll ever be just \"anybody\"."
#字串裡⾯已經有單引號，就要避免再使⽤單引號括住字串，若必須使⽤單引號，要在字串的單引號前加上跳脫字元反斜線

'I don\'t think you\'ll ever be just "anybody".'

In [172]:
#利⽤ + 以及 * 這兩個數學運算符號來合併⽂字與複製⽂字
str1 = "Hello!" + "How Are You?"
print(str1)
str2 = "Hello!" * 3
print(str2)
str3 = "Hello!\nHow Are You?"
print(str3)
print ("I'm" + " loving" + " it!")
print ("I'm loving it" + "!" * 3)

Hello!How Are You?
Hello!Hello!Hello!
Hello!
How Are You?
I'm loving it!
I'm loving it!!!

In [176]:
#以利⽤ 中括號（[]）搭配索引值 切割⽂字，Python的索引值從0開始，正值表⽰從字串開始處往右起算，負值則從字串結尾處往左起算
#從字串取出某⼀段⽂字，格式為字串[起始索引：結束索引：間隔值]在使⽤ 冒號（:） 進⾏⽂字切割的時候需要注意，位於冒號前索引值的字元會被包含，但位於冒號後索引值的字元則不會被包含
#使⽤split()函數分割字串,格式為 字串.split(分隔符號, 分割次數)
str = "ABCDEFGHIJK"
print(str[0])
print(str[-2])
print(str[:7:2])
print(str[2::2])
print(str[::2])
str1 = "Do \none \nthing \nat a time!"
print(str1.split())
print(str1.split( ' ', 2 ))

A
J
ACEG
CEGIK
ACEGIK
['Do', 'one', 'thing', 'at', 'a', 'time!']
['Do', '\none', '\nthing \nat a time!']

In [177]:
#計算字串長度，⽤len()函數
#⼤⼩寫轉換與⾸字⼤寫，⽤upper()函數、lower()函數、capitalize()函數
#字串是否全部為⼤寫或⼩寫，⽤isupper()、islower()函數
#計算特定字串出現次數，⽤count()函數
#移除字串左右兩邊特定字元，⽤strip()函數、lstrip()函數、rstrip()函數
#字串替換，⽤replace()函數
str = "The first wealth is health! Health is important!"
print ("{},長度是{}" .format(str, len(str)))
print(str.upper())
print(str.lower())
print("health".capitalize())
str.islower()
str.count("health")
str.strip("h!")
str.replace("important", "重要")

The first wealth is health! Health is important!,長度是48
THE FIRST WEALTH IS HEALTH! HEALTH IS IMPORTANT!
the first wealth is health! health is important!
Health

'The first wealth is health! Health is 重要!'

In [179]:
#處理日期資料格式時，我們載入 datetime 套件中的 date 類別
from datetime import date
sys_date = date.today()
print (sys_date)
print (type(sys_date))

2018-10-19
<class 'datetime.date'>

In [180]:
#利⽤ date(year, month, day) 這樣的參數格式在 date() 中設定⽇期
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = date(2017, 12, 31)
start_of_2017
end_of_2017

datetime.date(2017, 12, 31)

In [181]:
#在設定好的 date 物件中，可以使⽤ replace() ⽅法更改⽇期
from datetime import date
start_of_2017 = date(2017, 1, 1)
start_of_2018 = start_of_2017.replace(year = 2018)
start_of_2018

datetime.date(2018, 1, 1)

In [182]:
#⼀但設定為 date 物件之後就可以計算兩個⽇期之間的間距
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31)
days_dff = end_of_2017 - start_of_2017
days_dff.days

364

In [183]:
#處理⽇期資料格式時，我們載入 datetime 套件中的 time 類別
#利⽤ time(hour, minute, second) 這樣的參數格式在 time() 中設定時間
from datetime import time
sleep_time = time(23, 0, 0)
sleep_time
type(sleep_time)

datetime.time

In [184]:
#在設定好的 time 物件中，可以使⽤ replace() ⽅法更改時間
from datetime import time
sleep_time = time(23, 0, 0)
wake_up_time = sleep_time.replace(hour = 7)
wake_up_time

datetime.time(7, 0)

In [185]:
#更常⽤來處理時間的格式是⽇期時間，我們載入 datetime 套件中的 datetime 類別
from datetime import datetime
sys_datetime = datetime.now()
sys_datetime
type(sys_datetime)

datetime.datetime

In [186]:
#利⽤ datetime(year, month, day, hour, minute, second) 這樣的參數格式在 datetime() 中設定⽇期時間
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 0)
start_of_2017

datetime.datetime(2017, 1, 1, 0, 0)

In [187]:
#在設定好的 datetime 物件中，可以使⽤ replace() ⽅法更改⽇期時間
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
end_of_2017

datetime.datetime(2017, 12, 31, 23, 59, 59)

In [189]:
#一旦設定為 datetime 物件之後就可以計算兩個⽇期時間之間的間距，並以天數或秒數表⽰
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
date_time_diff = end_of_2017 - start_of_2017
date_time_diff.days
date_time_diff.seconds

86398

In [213]:
#隨堂練習
#1 公⾥等於 0.62137 英⾥，請將 42.195 公⾥換算為英⾥並且將答案印出來
print (42.195 * 0.62137)

26.21870715

In [214]:
#將您的⾝⾼（公分，浮點數）指派給⼀個物件 myheight，並且將 myheight 印出來
my_height = 161.8
print (my_height)

161.8

In [215]:
#將您的體重（公⽄，浮點數）指派給⼀個物件 myweight，並且將 myweight 印出來
my_weight = 43.4
print (my_weight)

43.4

In [216]:
#利⽤ myheight 與 myweight 計算您的 ⾝體質量指數（Body Mass Index，BMI），將計算結果指派給⼀個物件 bmi 並且印出來
my_height = 161.8
my_weight = 43.4
bmi = my_weight / (my_height / 100)**2
bmi

16.578021363492596

In [191]:
#as.numeric()：轉換變數類型為 numeric
#as.integer()：轉換變數類型為 integer
#as.complex()：轉換變數類型為 complex
#as.logical()：轉換變數類型為 logical
#as.character()：轉換變數類型為 character
#從元素（ingredients）邁向結構（collections）
#在某些應⽤情境下，Python的資料容器可以讓我們將多個資料指派給⼀個物件
starring_1 = "Jennifer Aniston"
starring_2 = "Courteney Cox"
starring_3 = "Lisa Kudrow"
starring_4 = "Matt LeBlanc"
starring_5 = "Matthew Perry"
starring_6 = "David Schwimmer"

In [126]:
#們可以利⽤ Python 的資料容器 list 將六組⽂字儲存在⼀個物件之中
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings
#儲存資料的容器有四類， 分為元祖(tuple)、串列(list)、字典(dict)與集合(set)
#物件可區分為可變與不可變，不可變物件⼀但創建後內容就不能改變，容器物件只有元祖是不可變物件
#元組：資料放置於⼩括弧（）內，資料有順序性，是不可變物件
#串列：資料放置在中括弧 [ ] 內，資料有順序性，是可變物件
#字典：是dictionary的縮寫，資料放置在⼤括弧{}內，是「鍵(key)」與「值(value」對應的物件，是可變物件
#集合：類似數學裡的集合概念，資料放置在⼤括弧{}內，是可變物件，資料具有無序與互異的特性

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [121]:
#建立 list
#⼀維串列是⼀串由逗號分隔的值，⽤中括號[ ]包起來。
#建立時使⽤ [] 中括號
#可以容納不同的變數類型（str, int, float, bool, complex）
#Python 的索引值從 0 開始算
#例一
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
friends
type(friends)

list

In [120]:
#例二
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls

['Chicago Bulls', 72, 10, 0.8780487804878049, True]

In [118]:
#計算串列物件長度，⽤ len()函數
#將新元素加到末端，⽤ append()函數
#將新元素加到指定位置，⽤ insert()函數
#將括號內指明元素移除，⽤ remove()函數
#將括號內指定位置索引元素移除，⽤ pop()函數
#將串列資料排序，⽤ sort()函數
#將串列加以反轉，⽤ reverse()函數
#加總串列元素和，⽤ sum()函數
#回傳串列最⼤、最⼩值，⽤max()、min()函數
fruitlist = ["Apple", "Orange", "Lemon"]
print(len(fruitlist))

3

In [60]:
fruitlist[1] ="Kiwi"

In [61]:
fruitlist.append("Mongo")

In [62]:
fruitlist.insert(1, "banana")

In [70]:
fruitlist = ["Apple", "Orange", "Lemon"]
fruitlist.remove("Orange")

In [71]:
fruitlist.pop(1)
fruitlist.sort()

In [72]:
print (fruitlist)

['Apple']

In [116]:
#取出list 中的元素
#⽤中括號 [ ] 搭配索引值來指定取出哪個元素的值，索引從0開始
#可搭配切片⽅法來取出元素 [start:end]
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings[0]
starrings[-1]
starrings[:3]

['Jennifer Aniston', 'Courteney Cox', 'Lisa Kudrow']

In [74]:
starrings[3:]

['Matt LeBlanc', 'Matthew Perry', 'David Schwimmer']

In [79]:
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
type(friends[0])

str

In [80]:
type(friends[1])

int

In [81]:
type(friends[2])

bool

In [111]:
# 例⼀
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True

In [85]:
chicago_bulls_list = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls_tuple = (team_name, wins, losses, win_percentage, is_champion)
print (chicago_bulls_list)

['Chicago Bulls', 72, 10, 0.8780487804878049, True]

In [86]:
print (chicago_bulls_tuple)

('Chicago Bulls', 72, 10, 0.8780487804878049, True)

In [112]:
#或打
chicago_bulls_tuple = tuple(chicago_bulls_list)

In [88]:
print (chicago_bulls_tuple)

('Chicago Bulls', 72, 10, 0.8780487804878049, True)

In [192]:
# 例⼆
# 使⽤ tuple 函數
#建立時使⽤ () ⼩括號或者可以使⽤ tuple() 函數 將既有的 list 轉換成為 tuple
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings_tuple = tuple(starrings_list)
starrings_tuple

('Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer')

In [90]:
type(starrings_tuple)

tuple

In [108]:
# 使⽤⼩括號
starrings_tuple = ("Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer")
starrings_tuple

('Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer')

In [92]:
type(starrings_tuple)

tuple

In [107]:
# list 可以新增
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry"]
starrings_list.append("David Schwimmer")
starrings_list

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [105]:
# tuple 不可以新增
starrings_tuple = ("Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry")
starrings_tuple.append("David Schwimmer")

AttributeError: 'tuple' object has no attribute 'append'

In [193]:
#使⽤ set() 函數將既有的 list 轉換成為 set，或者在建立物件的時候使⽤⼤括號 {}，藉此區別建立 list 時候所使⽤的中括號 []
# 使⽤ set 函數
gender_list = ["female", "female", "female", "male", "male", "male"]
gender_set = set(gender_list)
gender_set

{'female', 'male'}

In [99]:
type(gender_set)

set

In [103]:
# 使⽤⼤括號建立
gender_set = {"female", "female", "female", "male", "male", "male"}
gender_set

{'female', 'male'}

In [101]:
type(gender_set)

set

In [194]:
#新增與刪除元素，⽤ add()函數 與 remove()函數
#更新或合併元素，⽤ update()函數
#集合的運算，⽤聯集(|)、交集(&)、差集(-)與互斥(^)
animal = {"bird" , "cat" , "dog" }
animal.add("fish")
print(animal)

{'bird', 'fish', 'cat', 'dog'}

In [195]:
animal.remove("cat")
print(animal)

{'bird', 'fish', 'dog'}

In [196]:
animal.update({"bird", "monkey"})
print(animal)

{'bird', 'fish', 'dog', 'monkey'}

In [197]:
print("fish" in animal)

True

In [199]:
print("monkey" in animal)

True

In [201]:
zooA ={"bird" , "cat" , "dog" , "pig"}
zooB ={"wolf" , "cat", "dog" , "turtle"}
print(zooA & zooB)
print(zooA | zooB)
print(zooA - zooB)
print(zooA ^ zooB)

{'cat', 'dog'}
{'pig', 'wolf', 'cat', 'dog', 'turtle', 'bird'}
{'bird', 'pig'}
{'pig', 'wolf', 'turtle', 'bird'}

In [203]:
#set 與 list 和 tuple 最⼤的不同點在於它沒有辦法利⽤中括號與索引值選取元素
gender_set = {"female", "female", "female", "male", "male", "male"}
gender_set[0]

TypeError: 'set' object does not support indexing

In [206]:
#dict 是帶有鍵值（key）的 list。字典的資料是放在⼤括弧中，每⼀筆資料是⼀對key-value，格式為 {key:value}
#字典中的鍵是不可變的資料型態，如數字、字串，⽽值就沒有限制，可以是數字、字串、串列、元組等，資料之間則以逗號隔開
#在建立的 dict 時候我們需要使⽤⼤括號 {} 並且指派每⼀個資料的鍵值
#例⼀
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = {
 "team_name": team_name,
 "wins": wins,
 "losses": losses,
 "win_percentage": win_percentage,
 "is_champion": is_champion
}

In [207]:
#例⼆
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
type(friends_dict)

dict

In [208]:
#清除，⽤ clear()函數
#複製，⽤ copy()函數
#搜尋元素值，⽤ get()函數 ，以key搜尋對應的value
#移除元素，⽤ pop()函數
#更新或合併元素，⽤ update()函數 ，將兩個字典合併items()、keys()與values()函數
dic = {"name": "Andy", "age":18, "city":"台北"}
dic.clear()
print(dic)

{}

In [209]:
dicA = {"name": "Andy", "age":18, "city":"⾼雄"}
dic = dicA.copy()
print(dic)

{'name': 'Andy', 'age': 18, 'city': '⾼雄'}

In [210]:
dic.get("age")
dic.pop("city")
dic.update(dicA)
print(dic)
print(dic.items())
print(dic.keys())
print(dic.values())

{'name': 'Andy', 'age': 18, 'city': '⾼雄'}
dict_items([('name', 'Andy'), ('age', 18), ('city', '⾼雄')])
dict_keys(['name', 'age', 'city'])
dict_values(['Andy', 18, '⾼雄'])

In [212]:
#我們在 中括號 [] 中使⽤鍵值來選擇元素
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
friends_dict["genre"]
friends_dict["seasons"]
friends_dict["episodes"]
friends_dict["starrings"]

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [221]:
#隨堂練習
#建立⼀個 list 叫做 friends_list 儲存這些資訊，建立好以後，請將季數與 "Matthew Perry" 印出
genre = "SitCom"
seasons = 10
episodes = 236
stars = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow",
"Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
print (seasons)
print (stars[4])

10
Matthew Perry

In [224]:
#從 characters 這個 list 中選出前三個⾓⾊
characters = ["Rachel Green", "Monica Geller", "Phoebe Buffay", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
print (characters[:3])

['Rachel Green', 'Monica Geller', 'Phoebe Buffay']

In [230]:
#將 rgb_col_list 這個 list 轉換成⼀個 set rgb_col_set 並且將它印出來看看
rgb_col_list = ["red", "green", "blue", "green", "red", "blue", "green", "green", "red", "blue"]
rgb_col_set = set(rgb_col_list)
print (rgb_col_set)

{'blue', 'red', 'green'}

In [229]:
#將 Matthew Perry 從 friends_dict 中選出來並印出來
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
print (friends_dict["starrings"][4])

Matthew Perry