# 如何在 Google Colab 寫檔、讀檔與安裝模組

In [0]:
position = ["PG", "SG", "SF", "PF", "C"]
player = ["Ron Harper", "Michael Jordan", "Scottie Pippen", "Dennis Rodman", "Luc Longley"]
team = "Chicago Bulls"
season = "1995-96"

In [5]:
import pandas as pd

chicago_bulls = pd.DataFrame()
chicago_bulls["position"] = position
chicago_bulls["player"] = player
chicago_bulls["team"] = team
chicago_bulls["season"] = season
chicago_bulls

  position          player           team   season
0       PG      Ron Harper  Chicago Bulls  1995-96
1       SG  Michael Jordan  Chicago Bulls  1995-96
2       SF  Scottie Pippen  Chicago Bulls  1995-96
3       PF   Dennis Rodman  Chicago Bulls  1995-96
4        C     Luc Longley  Chicago Bulls  1995-96

In [6]:
chicago_bulls_dict = {
    "position": position,
    "player": player,
    "team": team,
    "season": season
}
chicago_bulls_df = pd.DataFrame(chicago_bulls_dict)
chicago_bulls_df

           player position   season           team
0      Ron Harper       PG  1995-96  Chicago Bulls
1  Michael Jordan       SG  1995-96  Chicago Bulls
2  Scottie Pippen       SF  1995-96  Chicago Bulls
3   Dennis Rodman       PF  1995-96  Chicago Bulls
4     Luc Longley        C  1995-96  Chicago Bulls

In [0]:
chicago_bulls.to_csv("chicago_bulls.csv", index=False)

In [0]:
from google.colab import files

files.download("chicago_bulls.csv")

In [14]:
files.upload()

Saving chicago_bulls.csv to chicago_bulls (1).csv

{'chicago_bulls.csv': b'position,player,team,season\nPG,Ron Harper,Chicago Bulls,1995-96\nSG,Michael Jordan,Chicago Bulls,1995-96\nSF,Scottie Pippen,Chicago Bulls,1995-96\nPF,Dennis Rodman,Chicago Bulls,1995-96\nC,Luc Longley,Chicago Bulls,1995-96\n'}

In [15]:
ls

'chicago_bulls (1).csv'   chicago_bulls.csv   sample_data/

In [16]:
pwd

'/content'

In [17]:
!pip install --upgrade pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/e1/d8/feeb346d41f181e83fba45224ab14a8d8af019b48af742e047f3845d8cff/pandas-0.23.4-cp36-cp36m-manylinux1_x86_64.whl (8.9MB)
    100% |████████████████████████████████| 8.9MB 3.1MB/s
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied, skipping upgrade: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.14.6)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.7)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.22.0
    Uninstalling pandas-0.22.0:
      Successfully uninstalled pandas-0.22.0
Successfully installed pandas-0.23.4

### Python: MySQL
https://pandas.pydata.org/pandas-docs/stable/io.html#sql-queries

In [19]:
!pip install --upgrade sqlalchemy pymysql pandas

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/1e/98/4dba86354d271344e25fa01dc38a0bf0e0ba6407ad2d5e8426496a95b568/SQLAlchemy-1.2.13.tar.gz (5.7MB)
    100% |████████████████████████████████| 5.7MB 5.8MB/s
Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/a7/7d/682c4a7da195a678047c8f1c51bb7682aaedee1dca7547883c3993ca9282/PyMySQL-0.9.2-py2.py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 17.8MB/s
Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (0.23.4)
Collecting cryptography (from pymysql)
  Downloading https://files.pythonhosted.org/packages/59/32/92cade62c645756a83598edf56289e9b19aae5370642a7ce690cd06bc72f/cryptography-2.3.1-cp34-abi3-manylinux1_x86_64.whl (2.1MB)
    100% |████████████████████████████████| 2.1MB 12.3MB/s
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied, skipping upgrade: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.14.6)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.7)
Requirement already satisfied, skipping upgrade: idna>=2.1 in /usr/local/lib/python3.6/dist-packages (from cryptography->pymysql) (2.6)
Collecting asn1crypto>=0.21.0 (from cryptography->pymysql)
  Downloading https://files.pythonhosted.org/packages/ea/cd/35485615f45f30a510576f1a56d1e0a7ad7bd8ab5ed7cdc600ef7cd06222/asn1crypto-0.24.0-py2.py3-none-any.whl (101kB)
    100% |████████████████████████████████| 102kB 25.0MB/s
Requirement already satisfied, skipping upgrade: six>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from cryptography->pymysql) (1.11.0)
Collecting cffi!=1.11.3,>=1.7 (from cryptography->pymysql)
  Downloading https://files.pythonhosted.org/packages/6d/c0/47db8f624f3e4e2f3f27be03a93379d1ba16a1450a7b1aacfa0366e2c0dd/cffi-1.11.5-cp36-cp36m-manylinux1_x86_64.whl (421kB)
    100% |████████████████████████████████| 430kB 24.8MB/s
Collecting pycparser (from cffi!=1.11.3,>=1.7->cryptography->pymysql)
  Downloading https://files.pythonhosted.org/packages/68/9e/49196946aee219aead1290e00d1e7fdeab8567783e83e1b9ab5585e6206a/pycparser-2.19.tar.gz (158kB)
    100% |████████████████████████████████| 163kB 31.7MB/s
Building wheels for collected packages: sqlalchemy, pycparser
  Running setup.py bdist_wheel for sqlalchemy ... - \ | / - \ | / done
  Stored in directory: /root/.cache/pip/wheels/ba/2e/47/b194b03e6aeaa658f521dfba094a42f1d37f4ee4018b9e607e
  Running setup.py bdist_wheel for pycparser ... - \ done
  Stored in directory: /root/.cache/pip/wheels/f2/9a/90/de94f8556265ddc9d9c8b271b0f63e57b26fb1d67a45564511
Successfully built sqlalchemy pycparser
Installing collected packages: sqlalchemy, asn1crypto, pycparser, cffi, cryptography, pymysql
Successfully installed asn1crypto-0.24.0 cffi-1.11.5 cryptography-2.3.1 pycparser-2.19 pymysql-0.9.2 sqlalchemy-1.2.13

In [20]:
import pandas as pd

csv_url = "https://storage.googleapis.com/ds_data_import/chicago_bulls_1995_1996.csv"
chicago_bulls = pd.read_csv(csv_url)
chicago_bulls

,No.,Player,Pos,Ht,Wt,Birth Date,College
0,0,Randy Brown,PG,6-2,190,"May 22, 1968","University of Houston, New Mexico State Univer..."
1,30,Jud Buechler,SF,6-6,220,"June 19, 1968",University of Arizona
2,35,Jason Caffey,PF,6-8,255,"June 12, 1973",University of Alabama
3,53,James Edwards,C,7-0,225,"November 22, 1955",University of Washington
4,54,Jack Haley,C,6-10,240,"January 27, 1964","University of California, Los Angeles"
5,9,Ron Harper,PG,6-6,185,"January 20, 1964",Miami University
6,23,Michael Jordan,SG,6-6,195,"February 17, 1963",University of North Carolina
7,25,Steve Kerr,PG,6-3,175,"September 27, 1965",University of Arizona
8,7,Toni Kukoc,SF,6-10,192,"September 18, 1968",NaN
9,13,Luc Longley,C,7-2,265,"January 19, 1969",University of New Mexico
10,33,Scottie Pippen,SF,6-8,210,"September 25, 1965",University of Central Arkansas
11,91,Dennis Rodman,PF,6-7,210,"May 13, 1961",Southeastern Oklahoma State University
12,22,John Salley,PF,6-11,230,"May 16, 1964",Georgia Institute of Technology
13,8,Dickey Simpkins,PF,6-9,248,"April 6, 1972",Providence College
14,34,Bill Wennington,C,7-0,245,"April 26, 1963",St. John's University

In [29]:
pi = 3.14159265359
print("圓周率: {}".format(pi))
print("圓周率: {:.0f}" .format(pi)) #無浮點數
#print("圓周率: {:.2f}" .format(pi)) #兩位浮點數

圓周率: 3.14159265359
圓周率: 3
圓周率: 3.14

In [31]:
# pd.read_sql_table()

import pandas as pd
from sqlalchemy import create_engine

host = "rsqltrain.ced04jhfjfgi.ap-northeast-1.rds.amazonaws.com"
port = 3306
dbname = "nba"
user = "trainstudent"
password = "csietrain"
engine = create_engine('mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}'.format(user=user, password=password, host=host, port=port, dbname=dbname))
#chicago_bulls = pd.read_sql_table('chicago_bulls', engine)
#chicago_bulls
#engine_config = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user, password, host, port, dbname)
engine = create_engine(engine_config)
chicago_bulls = pd.read_sql_table('chicago_bulls', engine)
chicago_bulls

,No.,Player,Pos,Ht,Wt,Birth Date,College
0,0,Randy Brown,PG,6-2,190,"May 22, 1968","University of Houston, New Mexico State Univer..."
1,30,Jud Buechler,SF,6-6,220,"June 19, 1968",University of Arizona
2,35,Jason Caffey,PF,6-8,255,"June 12, 1973",University of Alabama
3,53,James Edwards,C,7-0,225,"November 22, 1955",University of Washington
4,54,Jack Haley,C,6-10,240,"January 27, 1964","University of California, Los Angeles"
5,9,Ron Harper,PG,6-6,185,"January 20, 1964",Miami University
6,23,Michael Jordan,SG,6-6,195,"February 17, 1963",University of North Carolina
7,25,Steve Kerr,PG,6-3,175,"September 27, 1965",University of Arizona
8,7,Toni Kukoc,SF,6-10,192,"September 18, 1968",None
9,13,Luc Longley,C,7-2,265,"January 19, 1969",University of New Mexico
10,33,Scottie Pippen,SF,6-8,210,"September 25, 1965",University of Central Arkansas
11,91,Dennis Rodman,PF,6-7,210,"May 13, 1961",Southeastern Oklahoma State University
12,22,John Salley,PF,6-11,230,"May 16, 1964",Georgia Institute of Technology
13,8,Dickey Simpkins,PF,6-9,248,"April 6, 1972",Providence College
14,34,Bill Wennington,C,7-0,245,"April 26, 1963",St. John's University

In [33]:
# pd.read_sql_query()

sql_statement = """
  SELECT * 
  FROM chicago_bulls 
  WHERE Player IN ('Michael Jordan', 'Scottie Pippen', 'Dennis Rodman');
"""
trio = pd.read_sql_query(sql_statement, engine)
trio

,No.,Player,Pos,Ht,Wt,Birth Date,College
0,23,Michael Jordan,SG,6-6,195,"February 17, 1963",University of North Carolina
1,33,Scottie Pippen,SF,6-8,210,"September 25, 1965",University of Central Arkansas
2,91,Dennis Rodman,PF,6-7,210,"May 13, 1961",Southeastern Oklahoma State University

In [37]:
# Ray Allen
# Paul Pierce
# Kevin Garnett

sql_statement = """
  SELECT * 
  FROM boston_celtics 
  WHERE Player IN ('Ray Allen', 'Paul Pierce', 'Kevin Garnett');
"""
gap = pd.read_sql_query(sql_statement, engine)
gap

,row_names,No.,Player,Pos,Ht,Wt,Birth.Date,College
0,1,20,Ray Allen,SG,6-5,205,"July 20, 1975",University of Connecticut
1,6,5,Kevin Garnett,PF,6-11,240,"May 19, 1976",
2,9,34,Paul Pierce,SF,6-7,235,"October 13, 1977",University of Kansas

In [42]:
boston_celtics.loc[[0, 5, 8], ["Player", "No."]]

          Player  No.
0      Ray Allen   20
5  Kevin Garnett    5
8    Paul Pierce   34

In [47]:
gap = ['Ray Allen', 'Paul Pierce', 'Kevin Garnett']
is_gap = boston_celtics["Player"].isin(gap)
boston_celtics[is_gap]

,row_names,No.,Player,Pos,Ht,Wt,Birth.Date,College
0,1,20,Ray Allen,SG,6-5,205,"July 20, 1975",University of Connecticut
5,6,5,Kevin Garnett,PF,6-11,240,"May 19, 1976",
8,9,34,Paul Pierce,SF,6-7,235,"October 13, 1977",University of Kansas